.blogLanding {
	width: 100vw;
	background-color: #e2eafc;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	/* font-family: "Libre Baskerville", serif; */
}
.blogList {
	width: 100%;
}

.contentWrapper {
	display: flex;
	width: 60%;
	margin: 5vh auto;
	/* border: 1px solid red; */
	/* border: 3px solid black; */
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(166, 173, 201, 0.2);
}

.blog {
	/* padding: 2rem 1rem; */
	display: flex;
	padding: 1rem;
	border-bottom: 1px solid black;
}

.title:hover {
	text-decoration: underline;
}

.blogImage {
	width: 150px;
	max-height: auto;
	min-width: 300px;
	float: left;
	margin: 3px;
	padding: 3px;
}
.blogImage > img {
	height: auto;
	max-width: 100%;
	border-radius: 8px;
}
.subText {
	margin-bottom: 20px;
	font-family: "Open Sans", sans-serif;
}
.title {
	font-family: "Poppins", sans-serif;

	font-weight: 800;
	font-size: 24px;
	margin-bottom: 10px;
}

.preview {
	font-size: 14px;
	margin-bottom: 20px;
}
.readMore {
	width: fit-content;
	color: #0190de;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.contentWrapper {
		width: 80%;
	}
}
@media (max-width: 700px) {
	.contentWrapper {
		width: 90%;
	}
	.blog {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.blogImage {
		width: 150px;
		max-height: auto;
		min-width: 300px;
	}
}
/* .blogList {
  width: 80vw;
  margin: 0 auto;
}
.myMasonryGrid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: 0px; 
  width: auto;
}
.myMasonryGridColumn {
  padding-left: -1000px; 
  background-clip: padding-box;
}


.myMasonryGridColumn > div {
  
  margin-bottom: 0px;
}

.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 1rem 0.4rem;
}

.blogPost:hover {
  padding: 10px;
  border: 1px solid #eb3d30;
  box-shadow: -1px 1px #eb3d30, -2px 2px #eb3d30, -3px 3px #eb3d30,
    -4px 4px #eb3d30, -5px 5px #eb3d30;
} */
