.container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fafafa; */
  background-color: #e2eafc;
  /* margin-top: 5vh; */
  /* font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
		system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif; */
  font-family: "Raleway", sans-serif;
}

.mainCard {
  width: 80%;
  height: 90%;
  display: flex;
  max-width: 1600px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  background-color: white;
  border: 3px solid black;
}

.firstName {
  font-weight: 500;
}
.lastName {
  font-weight: 500;
}

.intro {
  font-size: 24px;
  margin-top: 2rem;
}

.links {
  margin-top: 2rem;
}

.links > div {
  margin-top: 0.5rem;
  /* text-decoration: underline;
	text-decoration-color: lawngreen; */
  font-style: italic;
}

.links > div:hover {
  cursor: pointer;
}

.underline {
  border-bottom: 4px solid #f21b3f;
  width: 20%;
}

.cardContent {
  width: 60%;
  border-collapse: separate;
  border-radius: 10px;
  padding: 3rem;
}
.cardImage > img {
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border-radius: 0 10px 10px 0;
}
.cardImage {
  width: 40%;
}
.mainHeader {
  font-size: 96px;
  line-height: 1.2;
}

/* .content {
	width: 60vw;
	margin: 0 auto;
	padding: 3rem 0;
	height: 60vh;
}

.nameImage {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	font-size: 84px;
	font-weight: 800;
	line-height: 1.25;
	color: #eb3d33;
	font-family: "Montserrat", sans-serif;
}

.image {
	border-radius: 50%;
}

.firstName {
	color: white;
	font-size: inherit;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: #eb3d33;
}

.wave {
	opacity: 0.3;
}
.subtags {
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	color: black;
}

.writer {
	font-family: "Pacifico", cursive;
}

.intro {
	margin-top: 2rem;
	font-size: 24px;
	font-weight: 500;
}

.specialText {
	color: #eb3d33;
}

.specialWrittenText {
	color: #eb3d33;
	font-family: "Pacifico", cursive;
}

@media only screen and (max-width: 1200px) {
	.content {
		width: 80vw;
		height: auto;
	}
}
@media only screen and (max-width: 500px) {
	.content {
		width: 80vw;
		height: auto;
	}
	.nameImage {
		flex-direction: column-reverse;
	}
} */
